/* Space out content a bit */
body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Custom page header */
.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}

/* Custom page footer */
.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 58em) {
    .container {
        max-width: 56rem;
    }
}
.container-narrow > hr {
    margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
    margin: 3rem 0;
}
.marketing p + h4 {
    margin-top: 1.5rem;
}

.toggle {
    cursor:pointer;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 2rem;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

#gameEntry input#playerName, #gameEntry input#privateGameId {
    max-width: 130px;
    margin:auto;
}

#gameBoard.jumbotron {
    padding: 5px;
    background: #fbfbfb;
}

#gameBoard table {
    background: #fefff8;
    margin: auto;
}

#gameBoard table tr td {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-weight: bolder;
    font-size: 14px;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
    color: #f64c1f;
}

#gameBoard table tr td img {
    height: 90%;
    width: 90%;
}

#gameBoard table tr td img.symbol_circle {
    height: 80%;
    width: 80%;
}

#gameBoard table tr td.my_turn {
    color: #3089f6;
}

#gameBoard table tr td.last_turn {
    background: #e7f9df;
}

#gameLog {
    height: 150px;
    overflow: auto;
    font-size: 12px;
    line-height: 14px;
}

#gameLog .log_date {
    color: #666;
    font-size: 80%;
    width: 60px;
    line-height: 14px;
    display: inline-block;
}
